body {
  background-color: #E0DCDC !important;
}

body, p, h1, h2, h3, span {
  color: #3D59FF !important;
}

button {
  background-color: #FFA43D !important; 
  color: white !important; 
  border-radius: 6px !important; 
  border: none !important;
}

button:hover {
  background-color: #357ABD !important; 
  cursor: pointer;
}
